<%= render 'shared/homenavbar' %>




<script src="/path/to/masonry.pkgd.min.js"></script>


  <!-- [LIGHTBOX CONTAINER] -->
  <div id="lb-back">
        <div id="lb-img"></div>
  </div>
<!-- end of [LIGHTBOX CONTAINER] -->

  <div class="grid" >
    <% @paintings.each do |painting|  %>

    <div class="grid-item">
      <%= cl_image_tag(painting.photo.key, :width=>375, :crop=>"scale", :class=>"zoomD") %>
    </div>
    <% end %>


  </div>


<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<script>
  var elem = document.querySelector('.grid');
  var msnry = new Masonry( elem, {
  // options
  itemSelector: '.grid-item',
  fitWidth: true,
  gutter: 10
});
</script>
