<div class="pt-5 mb-5 sticky top-0 bg-white shadow-withe  ">
  <div class="bg-white w-auto flex justify-between sm:max-w-6xl m-auto ">
    <h2 class="flex_1 text-4xl font-medium" style="font-family: Wakanda;">NAÏF</h2>
    <div>
      <i class="fas fa-ellipsis-h md:hidden"></i>
    </div>
    <div class="hidden md:flex items-center">
      <a  href="#" class="no-underline">
        <h2 class="ml-5 text-xl hover:opacity-50">Work</h2>
      </a>
      <a  href="#" class="no-underline">
        <h2 class="ml-5 text-xl hover:opacity-50">About</h2>
      </a>
      <a  href="#" class="no-underline">
        <h2 class="ml-5 text-xl hover:opacity-50">Contact</h2>
      </a>

      <a  href="#" class="no-underline">
        <h2 class="ml-5 text-xl hover:opacity-50">Moodboard</h2>
      </a>
    </div>
  </div>
  <div>
    <div></div>
  </div>
</div>
