<%= render 'shared/homenavbar' %>



<!-- <div class="container-menu flex flex-wrap md:flex-no-wrap lg:flex-no-wrap xl:flex-no-wrap  justify-center  ">

  <div class="card-menu flex-auto" id="test-image-peinture">

  </div>
  <div class="card-menu flex-auto md:ml-4 lg:ml-4 xl:ml-4 " id="test-image-mural">

  </div>
  <div class="card-menu flex-auto md:ml-4 lg:ml-4 xl:ml-4 " id="test-image-illu">

  flex </div>




</div>
 -->



<!-- TEST DEUX -->

<div class="flex justify-center flex-col md:flex-row lg:flex-row xl:flex-row">

  <div class="card-menu flex-auto mb-10 " id="test-image-peinture">
  </div>
  <div class="card-menu flex-auto mb-10  md:ml-4 lg:ml-4 xl:ml-4 " id="test-image-mural">
  </div>
  <div class="card-menu flex-auto mb-10  md:ml-4 lg:ml-4 xl:ml-4 " id="test-image-illu">
  </div>

</div>
