<%= render 'shared/homenavbar' %>



<!-- <div class="container-menu flex flex-wrap md:flex-no-wrap lg:flex-no-wrap xl:flex-no-wrap  justify-center  ">

  <div class="card-menu flex-auto" id="test-image-peinture">

  </div>
  <div class="card-menu flex-auto md:ml-4 lg:ml-4 xl:ml-4 " id="test-image-mural">

  </div>
  <div class="card-menu flex-auto md:ml-4 lg:ml-4 xl:ml-4 " id="test-image-illu">

  flex </div>




</div>
-->



<!-- TEST DEUX -->

<div class="flex justify-center items-center flex-col md:flex-row lg:flex-row xl:flex-row">

  <div class="card-menu-peinture flex-auto mb-10 flex-none md:flex-auto lg:flex-auto xl:flex-auto ">
    <div class=" w-full h-full flex justify-center items-center">
      <h2 class="text-2xl">Peintures</h2>
    </div>
  </div>
  <div class="card-menu-murale flex-auto mb-10  md:ml-4 lg:ml-4 xl:ml-4 flex-none md:flex-auto lg:flex-auto xl:flex-auto">
    <div class=" w-full h-full flex justify-center items-center">
      <h2 class="text-2xl">Murales</h2>
    </div>
  </div>
  <div class="card-menu-illustration flex-auto mb-10  md:ml-4 lg:ml-4 xl:ml-4 flex-none md:flex-auto lg:flex-auto xl:flex-auto ">
    <div class=" w-full h-full flex justify-center items-center">
      <h2 class="text-2xl">Illustrations</h2>
    </div>
  </div>

</div>
