<%= render 'shared/homenavbar' %>




<!-- TROISIEME TENTATIVE RESPONSIVE FINAL -->

<div class="md:mx-20 "> <!-- CONTAINER -->

  <div class="mx-auto px-2 md:flex md:justify-between md:max-w-full" >

    <div class="mb-3 metune  mx-auto flex items-center justify-center relative  ">
      <div class="menutof z-10">
        <%= link_to paintings_path do %>
        <img class=" card-menu object-cover   "src="https://res.cloudinary.com/dfezduqh1/image/upload/c_scale,w_546/v1584726475/painture_iu4va9.jpg" alt="">
        <% end %>
      </div>

      <h2 class=" w-full text-center absolute  z-0">Peintures</h2>


    </div>

    <div class="mb-3 metune  mx-auto flex items-center justify-center relative  ">
      <div class="menutof z-10">
        <%= link_to illustrations_path do %>
        <img class="h-full w-full card-menu object-cover  " src="https://res.cloudinary.com/dfezduqh1/image/upload/c_scale,w_536/v1584726459/mural_ecrl49.jpg" alt="">
        <% end %>
      </div>

      <h2 class="  w-full text-center absolute  z-0">Illustrations</h2>

    </div>


    <div class="mb-3 metune  mx-auto flex items-center justify-center relative  ">
      <div class="menutof z-10">
        <%= link_to illustrations_path do %>
        <img class="h-full w-full card-menu object-cover  " src="https://res.cloudinary.com/dfezduqh1/image/upload/c_scale,w_536/v1584726459/mural_ecrl49.jpg" alt="">
        <% end %>
      </div>

      <h2 class=" w-full text-center absolute  z-0">Illustrations</h2>

    </div>
  </div>
</div>
