<h1>Salutation</h1>


<%= link_to 'Autorisation Insta API', "https://api.instagram.com/oauth/authorize
?client_id=2914674878612372
&redirect_uri=https://safe-ravine-43900.herokuapp.com/moodboard/
&scope=user_profile,user_media
&response_type=code" %>


<h1><%= request.path_parameters%></h1>

<h2> <%= request %></h2>

<h1 id="code"><%= @paramsquery["code"] %></h1>

<% if @test == true %>
  <button id="lebut">Go!</button>
<% end %>
<script>
  const code = document.querySelector('#code').value
  const aPI = (valeur) => {
    fetch(`https://api.instagram.com/oauth/access_token \ -F client_id=2914674878612372 \ -F client_secret=6a60e7b84cd52af294427d09b6c1f7d5 \ -F grant_type=authorization_code \ -F redirect_uri=https://safe-ravine-43900.herokuapp.com/moodboard/ \ -F code=${valeur}`, {
      method: "POST"
    })
    .then(response => response.json())
    .then((data) => {
      console.log(data);


    })
  }

aPI(code);

</script>
