<h1>Salutation</h1>


<%= link_to 'Autorisation Insta API', "https://api.instagram.com/oauth/authorize
?client_id=2914674878612372
&redirect_uri=https://safe-ravine-43900.herokuapp.com/moodboard/
&scope=user_profile,user_media
&response_type=code" %>


