// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "menucard";
@import "grid";


html {
  height: 100%;
}

@import "zoom";


body {

  margin: 0;
  width: 100%;
  min-height: 100%;

  h2 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
  }

}
