// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "menucard";


// Custom font

@font-face {
   font-family: 'Wakanda';
   src: url('/assets/Wakanda-Regular.ttf')
}

body {
  font-family: roboto;


}
