// @import "illu.JPG";
// @import "painture.JPG";
// @import "mural.jpg";

.card-menu {
  max-width: 490px;
  height: 895px;
  background-size: cover;
  min-width: 290px;


}

.container-menu {
  margin: 20px 0;
}


// TesT


#test-image-peinture {
  background-image: url('/assets/painture.JPG');

}

#test-image-mural {
  background-image: url('/assets/mural.jpg');

}

#test-image-illu {
  background-image: url('/assets/illu.JPG');

}




// fin de TesT
