// Carte menu PEINTURE

.card-menu-peinture {
  max-width: 490px;
  width: 490px;
  height: 820px;
  background-size: cover;
  background-image: url('https://res.cloudinary.com/dfezduqh1/image/upload/c_scale,w_546/v1584726475/painture_iu4va9.jpg');
  color: rgba(30,30,30,0);

  &:hover {
    background-image: none;
    color: rgba(30,30,30,0.7);
  }
}

//////////////////////


// Carte menu MURALE //

.card-menu-murale {
  max-width: 490px;
  width: 490px;
  height: 820px;
  background-size: cover;
  color: rgba(30,30,30,0);
  background-image: url('https://res.cloudinary.com/dfezduqh1/image/upload/c_scale,w_536/v1584726459/mural_ecrl49.jpg');

  &:hover {
    background-image: none;
    color: rgba(30,30,30,1);
  }
}

///////////////////////

// Carte menu ILLUSTRATION

.card-menu-illustration {
  max-width: 490px;
  width: 490px;
  height: 820px;
  background-size: cover;
  color: rgba(30,30,30,0);
  background-image: url('https://res.cloudinary.com/dfezduqh1/image/upload/c_scale,w_472/v1584726476/illu_j2ywr2.jpg');

  &:hover {
    background-image: none;
    color: rgba(30,30,30,1);
  }
}

.container-menu {
  margin: 20px 0;
}

/////////////////////////
