// test zoom sur index paintings
// js directement dans paintings/views/index --à mettre dans JS

.zoomD {
  width: 600px;
  height: auto;
  cursor: pointer;
}

/* [LIGHTBOX] */
#lb-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}
#lb-back.show {
  visibility: visible;
  opacity: 1;
}
#lb-img {
  text-align: center;
}

.opacity-transfert-none {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}


.animate-pop-opacity {
  opacity: 0;
  animation: slide-opacity 2s forwards;
}


@keyframes slide-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
